*{
    margin:0;
    padding:0;
}
.container{
    width:1080px;
    height:560px;
    background-image:url(IMG_20200822_082300.png);
    background-color:mintcream;
    background-repeat: no-repeat;
    background-size: cover;
    padding:25px;
    padding-right:25px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:25px;
    
}
.nav{
    display: flex;
    list-style: none;
    padding:20px;
    }
.nav li a{
    text-decoration: none;
    padding:5px;
    text-transform: capitalize;
    padding:12px;
}
.logo{
   text-transform: uppercase;
    padding:12px;
    color:black;
    text-decoration: none;
    
}
.btn2{
    background-color:lightcyan;
    color:black;
    font-size:15px;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: 15px;
    padding:2px;
    border:none;
    margin-left:20px;
}
.body{
    width:290px;
    height:450px;
    padding-top:250px;
    margin-left:15px;
}
.h11{
    color:blue;
    text-transform: capitalize;
}
p{
    font-size: 12px;
}
.btn1{
    margin-top:5px;
    background-color: aliceblue;
    color:black;
    border-radius: 20px;
    font-size: 15px;
    padding:5px;
    
}
